########################################################################################################################
# {{ ansible_managed }}
# Please override /etc/elasticsearch/elasticsearch.yml first, using this file only as a last resort.
########################################################################################################################




# Run ElasticSearch as this user ID and group ID
# these are uncommented to override any packaged init script
ES_USER=elasticsearch
ES_GROUP=elasticsearch

# Heap new generation
#ES_HEAP_NEWSIZE=

# Heap Size (defaults to 256m min, 1g max)
# -- this setting actually comes from the common part of the playbook --
{% if elasticsearch_node is defined and elasticsearch_node.heapsize is defined %}
ES_HEAP_SIZE={{ elasticsearch_node.heapsize }}
{% else %}
ES_HEAP_SIZE={{ ansible_memtotal_mb // 2 }}m
{% endif %}

# Maximum locked memory size. Set to "unlimited" if you use the
# bootstrap.mlockall option in elasticsearch.yml. You must also set
# ES_HEAP_SIZE.
MAX_LOCKED_MEMORY=unlimited

# max direct memory
#ES_DIRECT_SIZE=

# Maximum number of open files, defaults to 65535.
#MAX_OPEN_FILES=65535

# Maximum number of VMA (Virtual Memory Areas) a process can own
#MAX_MAP_COUNT=262144

# ElasticSearch log directory
#LOG_DIR=/var/log/elasticsearch

# ElasticSearch data directory
#DATA_DIR=/var/lib/elasticsearch

# ElasticSearch work directory
#WORK_DIR=/tmp/elasticsearch

# ElasticSearch configuration directory
#CONF_DIR=/etc/elasticsearch

# ElasticSearch configuration file (elasticsearch.yml)
#CONF_FILE=/etc/elasticsearch/elasticsearch.yml

# Additional Java OPTS
#ES_JAVA_OPTS=

# Configure restart on package upgrade (true, every other setting will lead to not restarting)
#RESTART_ON_UPGRADE=true
